.box{
    width: 80px;
    height: 40px;
    margin: 60px 40px;
    border-radius: 6px;
}
.box-one{
    background-color: brown;
}
.box-two{
    background-color: cadetblue;
    transition: all 2s;
}
.box:hover{
    transform: scale(2);
}
.circle1, .circle2, .circle3, .circle4, .circle5{
width: 30px;
height: 30px;
border-radius: 50%;
margin: 10px;
}
.circle1{
    background-color: aquamarine;
    transition: all 1.5s linear;
}
.circle2{
    background-color: black;
    transition: all 1.5s ease-in;
}
.circle3{
    background-color: rgb(241, 150, 30);
    transition: all 1.5s ease-out;
}
.circle4{
    background-color: brown;
    transition: all 1.5s ease-in-out;
}
.circle5{
    background-color: blue;
    transition: all 1.5s ease;
}
.conteiner-circle:hover .circle1,
.conteiner-circle:hover .circle2,
.conteiner-circle:hover .circle3,
.conteiner-circle:hover .circle4,
.conteiner-circle:hover .circle5{
    transform: translate(200px);
}
.squere1, .squere2{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    margin: 50px;
    position: absolute;
}
.squere1{
    background-color: chartreuse;
}
.squere2{
    background-color: violet;
    transition: all 1s;
}
.squere2:hover{
    transform: translate(20px, 20px);
}
.skew{
    width: 100px;
    height: 160px;
    margin: 50px auto;
    background-color: rgb(0, 88, 219);
    transition: all 1s;
}
.skew:hover{
    transform: skew(20deg);
}
.combinado{
    height: 75px;
    width: 75px;
    margin: 50px auto;
    background-color: rgb(212, 88, 104);
    transition: all 3s;
}
.combinado:hover{
    transform: rotate(90deg) scale(2) translate(140px);
    -webkit-transform: rotate(90deg) scale(2) translate(140px);
    -o-transform: rotate(90deg) scale(2) translate(140px);
    -moz-transform: rotate(90deg) scale(2) translate(140px);
}
.animacion{
    height: 120px;
    width: 120px;
    margin: 50px auto;
    background-color: black;
}
.animacion:hover{
    animation: cambioColor 8s;
}
@keyframes cambioColor{
    0%{
        background-color: black;
    }
    15%{
        border-radius: 50%;
        background-color: aquamarine;
    }
    25%{
        width: 400px;
    }
    50%{
        border-radius: 0;
    }
    100%{
        background-color: blueviolet;
    }
}
/*
:root {
    --animate-duration: 10s;
  } */
  